<div class="card  m-5 mt-3">
    <div class="card-header bg-primary">Sign in to BackOffice</div>
    <div class="card-body p-5">
        <div>
            <div class="username">Username</div>
            <input class="form-control" [(ngModel)]="username"/>
        </div>

        <div class="mt-3">
            <div class="password">Password</div>
            <input type="password" class="form-control" [(ngModel)]="password"/>
        </div>
        <div class="mt-3">
            <button class="btn  btn-primary" (click)="signIn()">
                <i class="fa fa-check me-2"></i>
                Sign in NOW
            </button>
        </div>
    </div>
</div>
